# mac os
.DS_Store


# SQL lite
**/db.sqlite3


# env
**/.env


# Python
venv/
*.pyc
*.pyo
__pycache__/
*.py[cod]


# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
**/coverage.xml


# Django stuff:
*.log
*.pot


# Scrapy:
.scrapy